
<div class="card" style="width: 20rem; background:#fafafa">
  <img class="card-img-top" src="https://altronics.cl/image/cache/catalog/productos/electronica/tarjetas/esp32/esp32_2-228x228.jpg" alt="Card image cap">
  <div class="card-body">
<h4>Sensor Id: <%= sensor.id%></h4>
    <p class="card-text">Sensor humedad y temperatura con 8 protocolos</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Temperatura: 22ยบ</li>
    <li class="list-group-item">Humedad tierra: 30%</li>
    <li class="list-group-item">Humedad aire: 20%</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Protocolos</a>
    <a href="#" class="card-link">Solicitar revision</a>
  </div>
</div>